body{
    text-align: center;
    background-image: url('../assets/bg.png');
}


.loginBox{
    border-radius: 10px;
    background-color: #fefefe;
    margin-left: 27%;
    width: 50%;
    padding: 5%;
    margin-top: 12%;
    border: 1px solid white;
}
.inputField{
    width: 100%;
    margin: 10px;
}